
/* The asterisk (*) is a wildcard selector. It selects all elements. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.titlebar {
  display: flex;
  color: white;
  background-color: #A334B6;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;

  
}

.wrapper {
  display: flex;
}

.sidebar {
  height: 100vh;
}

.main {
  height: 100vh;
  overflow: scroll;
}


.aboutStyle  {  
  padding: 10px;
 color: #ff0000 !important;
 text-decoration: none;
}

.skillsStyle {
  padding: 10px;
 color: #ee82ee !important;  
 text-decoration: none;

}

.projectsStyle {
  padding: 10px;
 color: #4b0082 !important; 
 text-decoration: none; 

}

.educationStyle {
  padding: 10px;
 color: #008100 !important; 
  text-decoration: none; 

}

.interestsStyle {
  padding: 10px;
 color: #5009f7 !important;  
 text-decoration: none;

}

.contactStyle {
  padding: 10px;
 color: #ff00ff !important;  
  text-decoration: none;

}

.experienceStyle {
  padding: 10px;
 color: #00ff00 !important; 
  text-decoration: none; 

}

.resumeStyle {
  padding: 10px;
 color: #ffa500 !important;  
  text-decoration: none;

}

.navStyle{
  flex-direction: column;
  text-decoration: none;
  padding: 10px 0px;
  font-size: 20px;
  background-color: white;
}


