/* The asterisk (*) is a wildcard selector. It selects all elements. */
/* box-shadow: .375rem .375rem .625rem -.125rem rgba(0,0,0,0.5); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* .active-scroll-spy {
  background-color: yellowgreen;
  border-radius: .9375rem;
} */



.titlebar {
  color: #ffee00;
  background-color: #A334B6;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  font-weight: 200;
  padding: 1.875rem 2.5rem;
  text-transform: uppercase;
}

.wrapper {
  display: flex;

}

.sidebar {
  height: 100vh;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  border-color: #A334B6 ;
  border-width: .125rem ;
  border-style: solid ;
  min-width: 12.5rem;
}

.wrapper > .row{
  flex-wrap: nowrap;
  width: 100%;
  margin: 0rem ;
}


.main {
  height: 100vh;
  overflow: scroll;
  width: auto;
  flex-shrink: 1;
}

.howardStyle {
  font-size: 2rem;
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  padding: 0rem;
  color: #A334B6;
  text-decoration: none;
display: inline-block;
}

a:hover {
  color: #A334B6;
}

.howardStyle:hover {
  background-color: #e1dede ;
  text-decoration: none;
  width: -moz-available;

}

.aboutStyle {
  padding: .625rem;
  color: #ff0000 !important;
  text-decoration: none;

display: inline-block;
}

.aboutStyle:hover {
  background-color: #e1dede !important;
  text-decoration: none;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  width: -moz-available;

}

.skillsStyle {
  padding: .625rem;
  color: #ee82ee !important;
  text-decoration: none;
  display: inline-block;
}

.skillsStyle:hover {
  background-color: #e1dede !important;
  text-decoration: none;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  width: -moz-available;

}

.projectsStyle {
  padding: .625rem;
  color: #4b0082 !important;
  text-decoration: none;
  display: inline-block;
}

.projectsStyle:hover {
  background-color: #e1dede !important;
  text-decoration: none;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  width: -moz-available;
}

.educationStyle {
  padding: .625rem;
  color: #008100 !important;
  text-decoration: none;
  display: inline-block;
}

.educationStyle:hover {
  background-color: #e1dede !important;
  text-decoration: none;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  width: -moz-available;
}

.interestsStyle {
  padding: .625rem;
  color: #5009f7 !important;
  text-decoration: none;
  display: inline-block;
}

.interestsStyle:hover {
  background-color: #e1dede !important;
  text-decoration: none;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  width: -moz-available;
}

.contactStyle {
  padding: .625rem;
  color: #ff00ff !important;
  text-decoration: none;
  display: inline-block;

}

.contactStyle:hover {
  background-color: #e1dede !important;
  text-decoration: none;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  width: -moz-available;

}

.experienceStyle {
  padding: .625rem;
  color: #00ff00 !important;
  text-decoration: none;
  display: inline-block;
}

.experienceStyle:hover {
  background-color: #e1dede !important;
  text-decoration: none;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  width: -moz-available;
}

.resumeStyle {
  padding: .625rem;
  color: #ffa500 !important;
  text-decoration: none;
  display: inline-block;
}

.resumeStyle:hover {
  background-color: #e1dede !important;
  text-decoration: none;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  width: -moz-available;
}

.navStyle {
  text-decoration: none;
  padding:  0rem;
  font-size: 1.25rem;
  background-color: rgb(255, 255, 255);

  
}

h1 {
  padding-top: .9375rem;
  padding-left: 2rem;
  padding-bottom: .9375rem;
  padding-right: 0rem;
  font-size: 2.82rem ;
  font-weight: 200 ;

}

h2 {
  font-size: 2rem ;
  font-weight: 200 ;
}

h3 {
  font-size: 1.25rem ;
  font-weight: 300 ;
  line-height: .9375rem ;
}

h6 {
  font-size: .8rem ;
  font-weight: 300 ;
  line-height: .9375rem ;
  color:  #A334B6 ;

}

hr {
    font-weight: 100 ;
    /* border-top: .0625rem solid #000000 ; */
    margin-top: 1.25rem ;
    margin-bottom: 0rem ;
    width: 90% ;
    height: .3125rem ;
    background-color: #000 ;
    align-self: center ;
  }


  .bullet {
    list-style-type: circle inside none;
    padding-left: 0rem;
  }



.expimg {
  width: 18.75rem ;
  height: auto ;
  margin: 0 auto;
  display: block;
  padding-top: 0rem;
  align-items: start ;
}

.introImg {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  padding-top: 0rem;

}

img {
  width: 15.625rem;
  height: auto;
  padding-top: 1.25rem;
}

.abouttext {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.68rem ;
  font-weight: 300 ;
  line-height: 2.88rem ;
  
}



.widecard {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-color: #A334B6 ;
  border-width: .125rem ;
  border-style: solid ;
}

.mediumcard {
  width: 30rem;
  height: auto;
  margin: 0 auto;
  display: block;
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-color: #A334B6 ;
  border-width: .125rem ;
  border-style: solid ;
}

.edutext {
  align-content: center;
  display: flex;
  padding-top: 1.5625rem;
  padding-left: 5.625rem ;
}

.educationImg {
	display: flex;
  width: 5rem;
	align-items: center;
	align-content: center;
	padding-top: 0rem;
  margin-left: 2rem;
}

.widerow {
  flex-flow: row wrap;
  justify-content: center
}

.skilltitle {
  padding-left: 1.5rem ;
  padding-top: .5rem ;
  text-align: left ;
  font-size: 1.5rem ;
  font-weight: 200 ;
}

.badgeimg {
  width: 6.25rem ;
  height: auto;
  margin: .75rem;
  padding: 1rem;
}

.skillicon {
  width: auto ;
  height: auto;
  margin: .75rem;
  padding: .1rem;
}

.basiccard {
  width: 18rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: .375rem .375rem .625rem -.125rem rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-color: #A334B6 ;
  border-width: .125rem ;
  border-style: solid ;


}