
/* The asterisk (*) is a wildcard selector. It selects all elements. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.bar {
  display: flex;
  color: white;
  background-color: #A334B6;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.wrapper {
  display: flex;
}

.sidebar {
  height: 100vh;
}

.main {
  height: 100vh;
  overflow: scroll;
}



